registry=http://pbxart01:8081/artifactory/api/npm/npm-repo
sass_binary_site=http://pbxart01:8081/artifactory/npm-files
_auth=YnVpbGRfdXNlcjpBUDlwUE5Sa3MySGlHMU5yWVRRNldkMmNpWTI=
email=build_user@poalim.com
always-auth=true
@angular-cli:registry=http://pbxart01:8081/artifactory/api/npm/npm-repo/
@ngtools:registry=http://pbxart01:8081/artifactory/api/npm/npm-repo/
@types:registry=http://pbxart01:8081/artifactory/api/npm/npm-repo/
@angularclass:registry=http://pbxart01:8081/artifactory/api/npm/npm-repo/
@ngx-translate:registry=http://pbxart01:8081/artifactory/api/npm/npm-repo/
@ng-bootstrap:registry=http://pbxart01:8081/artifactory/api/npm/npm-repo/
@angular:registry=http://pbxart01:8081/artifactory/api/npm/npm-repo/
//pbxart01:8081/artifactory/api/npm/npm-repo/:_password=QVA5cFBOUmtzMkhpRzFOcllUUTZXZDJjaVky
//pbxart01:8081/artifactory/api/npm/npm-repo/:username=build_user
//pbxart01:8081/artifactory/api/npm/npm-repo/:email=build_user@poalim.com
//pbxart01:8081/artifactory/api/npm/npm-repo/:always-auth=true
