registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
sass_binary_site=https://artifactory.restest.bank/artifactory/npm-files
@covalent:registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
@gulp-sourcemaps:registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
@swimlane:registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
@angular-redux:registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
@angular-cli:registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
@ngtools:registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
@types:registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
@angularclass:registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
@ngx-translate:registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
@ng-bootstrap:registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
@angular:registry=https://artifactory.restest.bank/artifactory/api/npm/npm-repo/
ca[]="-----BEGIN CERTIFICATE-----\nMIIJTzCCBzegAwIBAgIKYQYM6wAAAAAACTANBgkqhkiG9w0BAQsFADBKMQswCQYD\nVQQGEwJpbDEWMBQGA1UEChMNQmFuayBIYX
BvYWxpbTEjMCEGA1UEAxMaQmFuayBI\nYXBvYWxpbSAyMDEwIFJvb3QgQ0EwHhcNMTQwNTE0MDgzMDM1WhcNMzUwNTE0MDg0\nMDM1WjBTMRQwEgYKCZImiZPyLGQBGRYEYmFua
zEYMBYGCgmSJomT8ixkARkWCHJl\nc291cmNlMSEwHwYDVQQDExhCYW5rIEhhcG9hbGltIE1hY2hpbmUgQ0EwggIiMA0G\nCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCtVFa0
DuKCu2CRHkL34QZdr3EW37to\nlP/i1PuDEGTjCMpN2SuZSlJTcKNAXe7cq6IBYlO7GdmFZim5nZXDsdOybsdgrHbT\nYkxRPjEzKkEHqJy+kPIk2UrG/pbgQye2KFWZPl9toVm
0T8TldF+LtVFerWmG4Urc\n/EwYvxsBBhvBI5qPLrFmfzqKsmb+lncqdUFJhxiR4rvhIHsMWUMmqGkKN2y97AFU\neBoftnBvQ5819RtanO9Nm/poCvIRWFYsk4Lq5fnkZcpgoO
cUxhmaTRKzX2B7FJ74\nZESmvs3DodPS2DPk7QZa5b13S6n+mnxoiS+Jih+/qbeLF+rFpFHheGyBMYt+I9ZV\noyDo5qpmq3TXcnUjw3qWRF+4A4qN92ScIRUooU1UiDBQ1Cjo9
Z8LZwoOCsv2bGJJ\n5qGqgbCYkMcOpV+qxQfQc8Pil0tgMnNIcFXR8GBh2XxBkA75z4VpNfilxnRvyiN3\nl7IZqWhF9JNXWlOQEh+LwpvU0oWNcJOEL+5or3JmVPQWoHdDsy6D
xhbi/1qkd1ZZ\n7f7m9cjvodFzbNFHmRlpkwhlejQhTezNNGR9Jk0X6qdcxI2Mad5am0D01YzOi3JU\noFPIBEjdCAQT5sR/HwR9zVKX/Quuy8Z2z3m7viGIcN3AS7JvE/X2I9x
/w2NiNUX5\nO/2sqJyiuLr4EwIDAQABo4IELDCCBCgwEAYJKwYBBAGCNxUBBAMCAQAwHQYDVR0O\nBBYEFJvTzCbsb1IH7TshveNaSZn/C/vJMIIB/AYDVR0gBIIB8zCCAe8wgg
HrBgsr\nBgEEAYG/BQEDATCCAdowRAYIKwYBBQUHAgEWOGh0dHA6Ly9jcmwwMS5iYW5raGFw\nb2FsaW0uY28uaWw6ODE4MS9MZWdhbFBvbGljeS9jcHMucGRmMIIBkAYIKwYBB
QUH\nAgIwggGCHoIBfgXqBeIF1QXTBdQAIAXQBdwF5wXYBegF1QXgBdkF6gAgBdYF1QAg\nBeAF1QXiBdMF1AAgBdwF6QXZBd4F1QXpACAF5AXgBdkF3gXZACAF4gXcACAF2QXT
\nBdkAIAXiBdUF0QXTBdkAIAXUBdEF4AXnACAF1AXiBdUF0QXTBdkF3QAgBdEF1wXm\nBegF2QAgBdQF0QXgBecALgAgBdQF0QXgBecAIAXcBdAAIAXZBdQF2QXUACAF0AXX\nB
egF0AXZACAF3AXbBdwAIAXgBdYF5wAgBekF2QXSBegF3QAgBdwF5gXTACAF6QXc\nBdkF6QXZACAF2wXqBdUF5gXQBdQAIAXeBdQF4QXqBd4F2wXVBeoAIAXiBdwAIAXq\nBeIF
1QXTBdQAIAXWBdUALgAgBdwF3gXZBdMF4gAgBeAF1QXhBeMALAAgBdkF6QAg\nBdwF4gXZBdkF3wAgBdEF4QXiBdkF4wAgADIALgAyACAF3AXeBeEF3gXaACAF1AXg\nBdQF3AX
ZBd0wGQYJKwYBBAGCNxQCBAweCgBTAHUAYgBDAEEwCwYDVR0PBAQDAgGG\nMBIGA1UdEwEB/wQIMAYBAf8CAQAwHwYDVR0jBBgwFoAUCVgLn277HgxZuzMLQu2P\nr7LGqDgwgc
AGA1UdHwSBuDCBtTCBsqCBr6CBrIZUaHR0cDovL2NybDAxLmJhbmto\nYXBvYWxpbS5jby5pbDo4MTgxL2NlcnRkYXRhL0JhbmslMjBIYXBvYWxpbSUyMDIw\nMTAlMjBSb290J
TIwQ0EuY3JshlRodHRwOi8vY3JsMDIuYmFua2hhcG9hbGltLmNv\nLmlsOjgxODEvY2VydGRhdGEvQmFuayUyMEhhcG9hbGltJTIwMjAxMCUyMFJvb3Ql\nMjBDQS5jcmwwgdQG
CCsGAQUFBwEBBIHHMIHEMGAGCCsGAQUFBzAChlRodHRwOi8v\nY3JsMDEuYmFua2hhcG9hbGltLmNvLmlsOjgxODEvY2VydGRhdGEvQmFuayUyMEhh\ncG9hbGltJTIwMjAxMCU
yMFJvb3QlMjBDQS5jcnQwYAYIKwYBBQUHMAKGVGh0dHA6\nLy9jcmwwMi5iYW5raGFwb2FsaW0uY28uaWw6ODE4MS9jZXJ0ZGF0YS9CYW5rJTIw\nSGFwb2FsaW0lMjAyMDEwJT
IwUm9vdCUyMENBLmNydDANBgkqhkiG9w0BAQsFAAOC\nAgEANQC+mTQYqPVgLWkzgM8B595h9iMLgiQJloKGuce0qtq3U61g+4duQoOa0IKH\nT8hPQUgK2yFfumCRzCZuNFPoj
lUACGk+u1PbsrrfhVmGsIUQtFW4B5UWTIE9GgYK\nBdoQrjAVUyecBoAg3OiEz6RFXuntYmstuMm9NrKdPZ/A5cxLPokduOaWVZ20WjEN\n+rK3Vkqs6ZbXvTzlzhbC4jTdbpfT
5GJSfJEEdGDy3zjvU1TIuLKb1djhM+TIQneH\nVX8bkZGslOpg4DEetddLvAvVTbxuNaJ1b589NxDIVcSecH/r6iZ02AxnfsNdSlSr\nFBuDttbNjFShAgIcmx5biN4d/EUI14i
09uGOxxS16CDhAZ+nIqFKYXbkINvJtqYn\n0L4JkzKvyhM+jqPTgBHtGuC2dqxjSMkqutoieA73L+GLY+7G5GXmv6QbrqbFaJ0o\nGYEXDHKrFF9jP9kLny25E7iV/qotsX9ekf
wUp0WrD9eMiCdkKOYFtEP3NXrmtTYt\nux0SJKdnB9RiG0NBe37tkMSdv9+O3GyLmIVsIkDZQtmVIfNUV79NZFtxzHVH15Qy\ndru57N+64STSAF7K/sDgA12mJ7+wF3q+zEQfu
+L8At7czm0Bp20NECH0rGTrhmFq\nMbZ6CdpFO2lF0sioR765oo9WDLc09rReE+kxQWdnobJQp9Y=\n-----END CERTIFICATE-----"
ca[]="-----BEGIN CERTIFICATE-----\nMIIGUjCCBDqgAwIBAgIQRt2hnb/jrYxPTRtqmbyPjTANBgkqhkiG9w0BAQsFADBK\nMQswCQYDVQQGEwJpbDEWMBQGA1UEChMNQm
FuayBIYXBvYWxpbTEjMCEGA1UEAxMa\nQmFuayBIYXBvYWxpbSAyMDEwIFJvb3QgQ0EwHhcNMTAwODIyMTEyNjE5WhcNMzUw\nODIyMTEzNjA4WjBKMQswCQYDVQQGEwJpbDEWM
BQGA1UEChMNQmFuayBIYXBvYWxp\nbTEjMCEGA1UEAxMaQmFuayBIYXBvYWxpbSAyMDEwIFJvb3QgQ0EwggIiMA0GCSqG\nSIb3DQEBAQUAA4ICDwAwggIKAoICAQCn26+nv/ol
hmxdqutKxGRA4nvzxGdJvMnH\n24EZpLCVczJVnKar5d6dW8zlzpHrbFqRboItAXPbzPS9b5mTeiElUOiovtY4hrpm\n48YHN1ZYggWSylCNgXnFGhrjPf6UIauPM+vLQMCjizm
NwQoeK7NQlLUTfq3LlTUa\nOiv6efpR2MzZnHnKUZIQZ2nCPbM+OwmQ94ELn3MJkpgbTPzGR/NR2NGxWGwPPTjc\n1iVxfgjTjiKsCsgPsiXSqT9Rr3H7T60bzZMRB1BZ5BKhuP
+2DpPrTbWK8eviDOFa\naT/Den7zg+PqhurEujaAapc/4PgtARQZggdIXnaLbvheNBneMdxCyFIKbFO6BQGl\n124Puh2rGC/vf4SXld/SepOckHgFCWeB2WeFdau/pLzgPuQSU
Y89KgPg/lkxWZ2U\nYx6mJlXcbwpSCG2+HegQGBubnoInjIl0OwqwAagWiP2OspQG+67bV49j8fcyqOhE\n9NW4kiOioPn+lPwlq32rr/ayJgAcV6sczretaZHJAyyoGcDBX0bV
LZfQW3+nagGE\nRRjR+omf7RRo7fVWpaYqOIvQFWkfq/rqllWwFfOahmGqOrKU8NkgX1gsJMpDyjs4\nUewVnE0EQ1/zbebCt9eQh6Nh9eBMwpLZ3DzwpzK4Lld/VRx/BZVtoxI
lFsTg4hyb\n2x41nCmUDQIDAQABo4IBMjCCAS4wCwYDVR0PBAQDAgGGMA8GA1UdEwQIMAYBAf8C\nAQMwHQYDVR0OBBYEFAlYC59u+x4MWbszC0Ltj6+yxqg4MBAGCSsGAQQBgj
cVAQQD\nAgEAMIHcBgNVHSAEgdQwgdEwgc4GHysGAQQBgjcVCOuXboeD4jyVmy2C++FUguiu\nem0BgxIwgaowRAYIKwYBBQUHAgEWOGh0dHA6Ly9jcmwwMS5iYW5raGFwb2Fsa
W0u\nY28uaWw6ODE4MS9MZWdhbFBvbGljeS9jcHMucGRmMGIGCCsGAQUFBwICMFYeVABC\nAGEAbgBrACAAUABvAGEAbABpAG0AIABDAGUAcgB0AGkAZgBpAGMAYQB0AGUAIABQ
\nAHIAYQBjAHQAaQBjAGUAIABTAHQAYQB0AGUAbQBlAG4AdDANBgkqhkiG9w0BAQsF\nAAOCAgEAKsS4gR3K1VMFPzvoLzTGYOv17+ZpGOzU5ndcrofwBlG194nMtSOM7U+F\nh
iojC4kfdSXqHx/M7rTglE08rJFpZA7F8dyyPI9N5h4PHJqMT2prIGfhe+BDE6tS\n7ap25hQl0k5udLLZMtPGmRGvFv6qSM5sViBBUHKacP6vMkw1QTKVLSROquKH0Vln\nLkkj
GILu9LgjsB1QXda09FKA/RraHHpdmDCHQYQayQYS+ld/mTOYZcmMepLfgT2A\nT911opbdMFBFtOPEQ1pVVlkSeGpM5HglUDSEnjvoRNdVprQhVkCxaKKiNJuEkZu/\nxMDRvra
YtqwKCQt/v3v4vrhqEkWQ/qs/Ve4qD1X/O8phsIjBQ8jORBm/r/e4GQEi\nvl0O1NUf0pbRadaceqt7HhkKPXNcIYe2hqpCTs13Zov2Is9aPcQnN8Hnx3Min+uv\n+YQPlikrcE
cfQpZzUqBnhgIxifOP7qYgHy3pYZzQqLS9k7iskcVkbmMiqSkT5SrW\nh8p5YXjGkNYVMAKxqJMdn6NNxBd3M+Bl7wIZnEqgb9aWSaEnQXB4cESST8grT6M/\nUO8quhL7FRVud
yJLwRVac9Sy4kCLBFg3i+gyBE+k5SYLLRSdKJA+7Ju/CJC1gfiX\nI8P8hUGARXAomN4wQ4mvZSd+TlLoDHnA0231mSuUhY+R2Pcfs0g=\n-----END CERTIFICATE-----"